* text=auto
*.py text eol=lf
*.tex text eol=lf
*.bib text eol=lf
*.md text eol=lf
*.ps1 text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.xlsx binary
*.xls binary
*.zip binary
*.rar binary
